*{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding-top: 20%;
    width: 50vw;

}
input{
    padding:2px 15px;
    margin: 15px;
}

#check-button{
    padding: 10px 15px;
    border-radius: 10px;
}

#check-button:hover{
    padding: 15px 25px;
    box-shadow: whitesmoke 2px 2px 20px;
}

caption{
    padding: 10px;
}
table{
    border:2px white solid;
    border-radius: 15px;
    padding: 10px 15px;
}
th{
    font-size: 1.2rem;
    padding: 5px;
}
td{
    font-size: 0.8rem;
    padding: 5px;
}